# ======================
# BACKEND (.NET)
# ======================
**/bin/
**/obj/
**/.vs/

# ======================
# FRONTEND (Node/React)
# ======================
**/node_modules/
**/dist/

# ======================
# LOGS
# ======================
*.log

# ======================
# ENV FILES
# ======================
.env
.env.*
**/.env
**/.env.*

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# TEST COVERAGE
# ======================
coverage/